html, body {
    height: 100%;
    background-color: rgb(120,120,120,0.2);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: relative; 
}
.header>a {
  position: absolute;
  left: 20px;
  height: 40px;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
  position: sticky;
}


.search-box input {
  padding: 8px 35px 8px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 300px;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}


.search-box i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
  cursor: pointer;
  transition: 0.3s;
}
.search-box button {
  position: absolute;
  right: 23%;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  border:none;
  background-color:rgb(1, 0, 0);
  padding:8px 15px;
  border-radius:0 20px 20px 0;
}
.search-box button:hover {
  background-color:rgb(77, 77, 77);
}

.search-box i:hover {
  color: black;
}

.cart {
  position:absolute;
  right:110px;
  font-size:20px;
  cursor:pointer;
  color:gray;
  transition:0.3s;
}

.phone
{
  position:absolute;
  right:70px;
  font-size:20px;
  cursor:pointer;
  color:gray;
  transition:0.3s;
}
.user{
  position:absolute;
  right:30px;
  font-size:20px;
  cursor:pointer;
  color:gray;
  transition:0.3s;
}
.container{
  max-width:100%;
  margin: 0px auto;
}

nav{
  display:flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 50px;
  z-index: 1000;
  background-color: rgb(0, 0, 0);
  padding:0;
}

#main-menu{
  display:flex;
  list-style: none;
  width: 100%;
  padding:0 25px;
  justify-content: space-around;
  gap: 10px;
}

#main-menu li{
  position:relative;
}
#main-menu li a{
  color:white;
  padding:10px;
  display:block;
  text-decoration: none;
}

#main-menu ul.sub-menu{
  position:absolute;
  background-color:rgb(255, 255, 255);
  list-style: none;
  top: 100%;  
  left: 0;             
  padding: 0;          
  margin: 0; 
  z-index: 999;
  white-space: nowrap;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  margin-top:15px;
  width: 100%;
  
}

#main-menu ul.sub-menu a{
  border: 1px  solid rgb(162, 162, 162);
  border-style: none none solid none;
  padding:10px 20px;
  color:black;
  
}
#main-menu li:hover {
  background-color:gray;
}
#main-menu ul.sub-menu li:hover{
  background-color:rgb(255, 84, 84);
  cursor:pointer;
}
#main-menu ul.sub-menu .menu-con{
  display: none;
  position: absolute;
  top: 0;   
  left: 100%;          
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 1000;
  width:500px;
  box-sizing: border-box;
  white-space: nowrap;
}
#main-menu ul.sub-menu li:hover .menu-con {
  display: block;
  border:1px solid rgb(255, 62, 62);
}
#main-menu ul.sub-menu .menu-con button{
  background-color:rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  border:none;
  padding:10px 20px;
  cursor:pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  border-radius:5px;
  transition:0.3s;
  font-weight:bold;
  
}
#main-menu ul.sub-menu .menu-con button:hover{
  background-color:rgb(255, 84, 84);
  color:white;
}
#main-menu ul.sub-menu .menu-con>a{
  border:none;
}
#main-menu ul.sub-menu .menu-con a:hover{
  color:rgb(255, 84, 84);
}
#image{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:20px;
  margin-left:180px;
}
#image .image-con{
  display:flex;
  flex-direction: column;
  gap:20px;
}
#footer{
  background-color:black;
  color:white;
  max-width:100%;
  display:flex;
  flex-wrap: wrap;
}
#footer .footer-logo{
  display:block;
  text-align: left;
  max-width:250px;
  margin-left:20px;
}
#footer .footer-contact{
  display:block;
  text-align: left;
  margin-left:20px;
  max-width:250px;
}
#footer .chinh-sach{
  display:block;
  text-align: left;
  margin-left:20px;
  max-width:250px;
}
#footer .chinh-sach a{
  color:white;
  text-decoration: none;
}
#footer .chinh-sach a:hover{
  color:rgb(105, 105, 105);
}
#footer .footer-social{
  display:block;
  text-align: left;
  margin-left:20px;
  max-width:250px;
}
#footer .footer-social i{
  font-size:30px;
}
#footer .footer-social a{
  color:white;
  text-decoration: none;
  margin-right:10px;
}
#footer .footer-social a:hover{
  color:rgb(105, 105, 105);
}
#footer .footer-last{
  display:block;
  text-align: left;
  margin-left:20px;
  max-width:100%;
}